[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pymysql = "*"
django-ckeditor = "*"
django-ckeditor-5 = "*"
shell = "*"

[dev-packages]

[requires]
python_version = "3.9"

[packages]
backports.functools-lru-cache = "*"
backports.shutil-get-terminal-size = "*"
