<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="social-icons">
            <li><a href="https://bryanasegaportfoliowebsite.vercel.app/"><i class="fa fa-globe"> Website</i></a></li>
            <li><a href="https://x.com/AsegaBryan?t=dstk4z8fmR3JXxz22kTfmw&s=09"><i class="fa fa-twitter"> Twitter</i></a></li>
            <li><a href="https://github.com/Asega-bryan07"><i class="fa fa-github"> GitHub</i></a></li>
            <li><a href="https://medium.com/almasibryan"><i class="fa fa-medium"> Medium</i></a></li>
            <li><a href="https://www.linkedin.com/in/asega-bryan-ba7781224?"><i class="fa fa-linkedin"> Linkedin</i></a></li>
          </ul>
        </div>
        <div class="col-lg-12">
          <div class="copyright-text">
            <p>2024 &copy; Copyright | All Rights Reserved <br>
                  
               By: <a href="https://wa.me/+254793681980/" target="_parent">Eng. Bryan Asega <br><i class="fa fa-whatsapp"></i></a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>