{% extends 'base.html' %}
{% load static %}
{% block title %} Update Blog {% endblock title %}

{% block content %}
<section class="add-blog">
    <div class="container">
        <div class="row py-5 justify-content-center">
            <div class="col-md-8">
                <form action="" method="POST" enctype="multipart/form-data">
                    {{ form.media }}
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="title">Blog Title</label>
                        {{ form.title }}
                        {% if form.title.errors %}
                            <p class="text-danger py-1">{{ form.title.errors }}</p>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="category">Blog Category</label>
                        <select class="form-control" name="category" id="category_id">
                            {% for category in categories %}
                                <option value="{{ category.id }}" {% if form.instance.category.pk == category.pk %}selected{% endif %}>{{ category.title }}</option>
                            {% endfor %}
                        </select>
                        {% if form.category.errors %}
                            <p class="text-danger py-1">{{ form.category.errors }}</p>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        {{ form.description|safe }}
                        {% if form.description.errors %}
                            <p class="text-danger py-1">{{ form.description.errors }}</p>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="banner">Blog Banner</label>
                        {% if form.instance.banner %}
                            <img src="{{ form.instance.banner.url }}" class="img-thumbnail mb-2" alt="Blog Banner">
                        {% endif %}
                        {{ form.banner }}
                        {% if form.banner.errors %}
                            <p class="text-danger py-1">{{ form.banner.errors }}</p>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="tags">Tags</label>
                        <textarea class="form-control" name="tags" id="tags" cols="30" rows="10" placeholder="Enter comma separated values">{{ form.instance.tags }}</textarea>
                        {% if form.tags.errors %}
                            <p class="text-danger py-1">{{ form.tags.errors }}</p>
                        {% endif %}
                    </div>
                    <div class="form-group my-2">
                        <button type="submit" class="btn btn-primary btn-block">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
