/* Start flex-slider.css */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face {
  font-family: 'flexslider-icon';
  src: url('../fonts/flexslider-icon.eot');
  src: url('../fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('../fonts/flexslider-icon.woff') format('woff'), url('../fonts/flexslider-icon.ttf') format('truetype'), url('../fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* ====================================================================================================================
  * RESETS
  * ====================================================================================================================*/

.flex-container a:hover,
.flex-slider a:hover {
outline: none;
color: azure;
}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex-pauseplay span {
  text-transform: capitalize;
}
/* ====================================================================================================================
  * BASE STYLES
  * ====================================================================================================================*/
.flexslider {
  margin: 0;
  padding: 0;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
.flexslider .slides img {
  width: 100%;
  display: block;
}
.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .flexslider .slides {
  display: block;
}
* html .flexslider .slides {
  height: 1%;
}
.no-js .flexslider .slides > li:first-child {
  display: block;
}
/* ====================================================================================================================
  * DEFAULT THEME
  * ====================================================================================================================*/
.flexslider {
  margin: 0;
  background: #fff;
  border: 4px solid #fff;
  position: relative;
  zoom: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
}
.flexslider .slides {
  zoom: 1;
}
.flexslider .slides img {
  height: auto;
  -moz-user-select: none;
}
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.loading .flex-viewport {
  max-height: 300px;
}
@-moz-document url-prefix() {
  .loading .flex-viewport {
    max-height: none;
  }
}
.carousel li {
  margin-right: 5px;
}
.flex-direction-nav {
  *height: 0;
}
.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 26px;
  display: inline-block;
  content: '\f001';
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.flex-direction-nav a.flex-next:before {
  content: '\f002';
}
.flex-direction-nav .flex-prev {
  left: -50px;
}
.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right;
}
.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 10px;
}
.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1;
}
.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 10px;
}
.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1;
}
.flex-direction-nav .flex-disabled {
  opacity: 0!important;
  filter: alpha(opacity=0);
  cursor: default;
  z-index: -1;
}
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}
.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}
.flex-pauseplay a:hover {
  opacity: 1;
}
.flex-pauseplay a.flex-play:before {
  content: '\f003';
}
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
.flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.flex-control-thumbs img:hover {
  opacity: 1;
}
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}
/* ====================================================================================================================
  * RESPONSIVE
  * ====================================================================================================================*/
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}
/* end of flex-slider.css */

/* owl css starts    */

.owl-carousel {
display: none;
width: 100%;
-webkit-tap-highlight-color: transparent;
/* position relative and z-index fix webkit rendering fonts issue */
position: relative;
z-index: 1; }
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */ }
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px); }
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }
.owl-carousel .owl-item img {
  display: block;
  width: 100%; }
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none; }
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit; }
.owl-carousel.owl-loaded {
  display: block; }
.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }
.owl-carousel.owl-hidden {
  opacity: 0; }
.owl-carousel.owl-refresh .owl-item {
  visibility: hidden; }
.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab; }
.owl-carousel.owl-rtl {
  direction: rtl; }
.owl-carousel.owl-rtl .owl-item {
  float: right; }

/* No Js */
.no-js .owl-carousel {
display: block; }

/*
*  Owl Carousel - Animate Plugin
*/
.owl-carousel .animated {
animation-duration: 1000ms;
animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
z-index: 0; }

.owl-carousel .owl-animated-out {
z-index: 1; }

.owl-carousel .fadeOut {
animation-name: fadeOut; }

@keyframes fadeOut {
0% {
  opacity: 1; }
100% {
  opacity: 0; } }

/*
* 	Owl Carousel - Auto Height Plugin
*/
.owl-height {
transition: height 500ms ease-in-out; }

/*
* 	Owl Carousel - Lazy Load Plugin
*/
.owl-carousel .owl-item {
/**
    This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
    calculation of the height of the owl-item that breaks page layouts
    */ }
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease; 
}
.owl-carousel .owl-item .owl-lazy[src^=""], 
.owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0; 
}
.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; 
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
      transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/* end of owl.css  */
/* main.css starts  */

*{
    border-radius: 10px;
    font-family: 'Helvetica','Arial Narrow', Arial, sans-serif;
}
.empty-heart {
    color: #c5b0b0 !important;
}

.blog-posts .submit-comment textarea {
    text-transform: none !important;
}

.submit-reply textarea {
    width: 100%;
    height: 46px;
    border: 1px solid #588878;
    font-size: 18px;
    text-transform: none;
    font-weight: 500;
    color: #9adcf7;
    outline: none;
    padding: 10px 15px;
    margin-bottom: 30px;
    height: 180px;
    max-height: 220px;
    max-width: 100%;
    min-width: 160px;
}

.reply-button {
    display: inline-block;
    background-color: #45d440;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    padding: 12px 20px;
    text-transform: uppercase;
    transition: all .3s;
    border: none;
    border-radius: 5px;
    outline: none;
}

.fa-heart {
    color: rgb(255, 251, 0) !important;
}
.empty-heart {
    color: #CDCDCD !important;
}

.btn-primary {
    display: inline-block;
    background-color: #f4407c;
    color: #74f374;
    font-size: 13px;
    font-weight: 500;
    padding: 12px 20px;
    text-transform: uppercase;
    transition: all .3s;
    border: none;
    border-radius: 10px;
    outline: none;
}

.errorlist {
    color: red !important;
    padding-bottom: 10px !important;
}

.contact-us .contact-form input {
    margin-bottom: 10px !important;
}

input, textarea {
    text-transform: none !important;
}

.profile-picture {
    max-width: 100%;
    width: 180px;
    height: 180px;
}

.owl-banner {
    padding: 47px !important;
}

.owl-carousel .owl-item img {
    height: 440px !important;
}

/* end of main.css */

/* style.css starts  */

/* 

TemplateMo 551 Stand Blog

https://templatemo.com/tm-551-stand-blog

*/

body {
    font-family: 'Marriweather', 'Roboto', sans-serif;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
p {
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: 400;
    color: #7a7a7a;
    line-height: 30px;
}
a {
    text-decoration: none!important;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}

.main-button a {
    display: inline-block;
    background-color: #40f467;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    padding: 12px 20px;
    text-transform: uppercase;
    transition: all .3s;
}

.main-button a:hover {
    background-color: #40f467;
}

.heading-page {
    padding-top: 110px;
}

.page-heading {
    margin: 0px 10px;
    padding: 120px 0px;
    text-align: left;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/heading-bg.jpg);
}

.page-heading .text-content h4 {
    color: #31f76c;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
}

.page-heading .text-content h2 {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

#preloader {
  overflow: hidden;
  background: #31f76c;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 9999999;
  color: #fff;
}

#preloader .jumper {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
  margin: auto;
  width: 50px;
  height: 50px;
}

#preloader .jumper > div {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  opacity: 0;
  width: 50px;
  height: 50px;
  -webkit-animation: jumper 1s 0s linear infinite;
  animation: jumper 1s 0s linear infinite;
}

#preloader .jumper > div:nth-child(2) {
  -webkit-animation-delay: 0.33333s;
  animation-delay: 0.33333s;
}

#preloader .jumper > div:nth-child(3) {
  -webkit-animation-delay: 0.66666s;
  animation-delay: 0.66666s;
}

@-webkit-keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/* Header Style */
header {
    z-index: 99999;
    width: 100%;
    height: 100px;
    background-color: #f7f7f7;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
header .navbar {
    padding: 25px 0px;
}
.background-header .navbar {
    padding: 17px 0px;
}
.background-header {
    top: 0;
    height: 80px;
    position: fixed;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
}
.background-header .navbar-brand h2 {
    color: #121212!important;
}
.background-header .navbar-nav a.nav-link {
    color: #1e1e1e!important;
}
.background-header .navbar-nav .nav-link:hover,
.background-header .navbar-nav .active>.nav-link,
.background-header .navbar-nav .nav-link.active,
.background-header .navbar-nav .nav-link.show,
.background-header .navbar-nav .show>.nav-link {
    color: #31f76c!important;
}
.navbar .navbar-brand {
    float: 	left;
    margin-top: -12px;
    outline: none;
}
.navbar .navbar-brand h2 {
    color: #1e1e1e;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 900;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}
.navbar .navbar-brand h2 em {
    font-size: 44px;
    font-style: normal;
    color: #31f76c;
}
#navbarResponsive {
    z-index: 999;
}
.navbar-collapse {
    text-align: center;
}
.navbar .navbar-nav .nav-item {
    margin: 0px 15px;
}
.navbar .navbar-nav a.nav-link {
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #1e1e1e;
    transition: all 0.3s;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .active>.nav-link,
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.show,
.navbar .navbar-nav .show>.nav-link {
    color: #31f76c;
}
.navbar .navbar-toggler-icon {
    background-image: none;
}
.navbar .navbar-toggler {
    border-color: #fff;
    background-color: #31f76c;	
    height: 46px;
    outline: none;
    border-radius: 0px;
    position: absolute;
    right: 30px;
    top: 25px;
}
.navbar .navbar-toggler-icon:after {
    content: '\f0c9';
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    font-family: 'FontAwesome';
}



/* Banner Style */
.main-banner .container-fluid {
    padding: 0px 10px;
    margin-bottom: -24px;

}
.owl-banner {
    padding-top: 110px;
}

.owl-banner .item {
    position: relative;
}

.owl-banner .item .item-content {
    position: absolute;
    bottom: 40px;
    left: 40px;
}

.owl-banner .item .item-content .meta-category span {
    color: #1b883c;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.25px;
}

.owl-banner .item .item-content h4 {
    font-size: 24px;
    font-weight: 900;
    color: #fff;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    margin: 10px 0px 12px 0px;
}

.owl-banner .item .item-content ul li {
    display: inline-block;
    margin-right: 8px;
}

.owl-banner .item .item-content ul li:after {
    content: '|';
    color: #fff;
    margin-left: 8px;
}

.owl-banner .item .item-content ul li:last-child::after {
    display: none;
}

.owl-banner .item .item-content ul li a {
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    transition: all .3s;
}

.owl-banner .item .item-content ul li a:hover {
    color: #31f76c;
}

.owl-banner .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
}

.owl-banner .owl-nav .owl-prev {
    position: absolute;
    left: 40px;
}

.owl-banner .owl-nav .owl-next {
    position: absolute;
    right: 40px;
}

.owl-banner .owl-nav button {
    outline: none;
}

.owl-banner .owl-nav button span {
    color: #fff;
    font-size: 36px;
    width: 60px;
    height: 60px;
    display: inline-block;
    text-align: center;
    line-height: 60px;
    background-color: rgba(250,250,250,0.3);
}


/* Call To Action */

.call-to-action {
    margin-top: 100px;
}

.call-to-action .main-content {
    padding: 40px;
    background-image: url(../images/cta-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.call-to-action .main-content span {
    color: #31f76c;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.5px;
}

.call-to-action .main-content h4 {
    margin-bottom: 0px;
    margin-top: 12px;
    color: #fff;
    font-size: 26px;
    font-weight: 900;
    letter-spacing: 0.25px;
}

.call-to-action .main-content .main-button {
    text-align: right;
    margin-top: 12px;
}



/* Blog Posts */

.blog-posts {
    margin-top: 100px;
}

.blog-posts .blog-post {
    margin-bottom: 30px;
}

.blog-posts .blog-thumb img {
    width: 100%;
    overflow: hidden;
}

.blog-posts .down-content {
    padding: 40px;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.blog-posts .down-content span {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 900;
    color: #01220e;
}

.blog-posts .down-content h4 {
    font-size: 24px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    font-weight: 900;
    color: #20232e;
    margin: 10px 0px 12px 0px;
}

.blog-posts .down-content ul.post-info li {
    display: inline-block;
    margin-right: 8px;
}

.blog-posts .down-content ul.post-info li:after {
    content: '|';
    color: #aaa;
    margin-left: 8px;
}

.blog-posts .down-content h4 {
    font-size: 20px;
    letter-spacing: 0.25px;
}

.grid-system .down-content ul.post-info li {
    margin-right: 3px;
}

.grid-system .down-content ul.post-info li:after {
    margin-left: 5px;
}

.blog-posts .down-content ul.post-info li:last-child::after {
    display: none;
}

.blog-posts .down-content ul.post-info li a {
    font-size: 14px;
    color: #aaa;
    font-weight: 400;
    transition: all .3s;
}

.blog-posts .down-content ul.post-info li a:hover {
    color: #597562;
}

.blog-posts .down-content p {
    padding: 25px 0px;
    margin: 25px 0px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.blog-posts .down-content ul.post-share {
    text-align: right;
}

.blog-posts .down-content ul.post-tags li,
.blog-posts .down-content ul.post-share li {
    display: inline-block;
}

.blog-posts .down-content ul.post-tags li:first-child i,
.blog-posts .down-content ul.post-share li:first-child i {
    color: #31f76c;
    margin-right: 5px;
}

.blog-posts .down-content ul.post-tags li,
.blog-posts .down-content ul.post-share li {
    color: #aaa;
}

.blog-posts .down-content ul.post-tags li a,
.blog-posts .down-content ul.post-share li a {
    font-size: 14px;
    color: #aaa;
    font-weight: 400;
    transition: all .3s;
}

.blog-posts .down-content ul.post-tags li a:hover,
.blog-posts .down-content ul.post-share li a:hover {
    color: #31f76c;
}

.blog-posts .main-button a {
    height: 60px;
    line-height: 60px;
    padding: 0px;
    width: 100%;
    text-align: center;
}

ul.page-numbers {
    text-align: center;
}

ul.page-numbers li {
    display: inline-block;
    margin: 0px 5px;
}

ul.page-numbers li a {
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    font-size: 15px;
    color: #7a7a7a;
    border: 1px solid #eee;
    font-weight: 500;
    transition: all 0.3s;
}

ul.page-numbers li.active a {
    background-color: #31f76c;
    border-color: #31f76c;
    color: #fff;
}

ul.page-numbers li a:hover {
    color: #31f76c;
}

.blog-posts .sidebar-heading h2 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.5px;
    color: #20232e;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.blog-posts .comments {
    margin-top: 30px;
}

.blog-posts .comments ul li {
    display: inline-block;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.blog-posts .comments ul li.replied {
    padding-left: 130px;
}

.blog-posts .comments ul li:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: none;
}

.blog-posts .comments ul li .author-thumb {
    display: inline;
    float: left;
}

.blog-posts .comments ul li .author-thumb img {
    max-width: 100px;
    display: inline;
}

.blog-posts .comments ul li .right-content {
    margin-left: 130px;
}

.blog-posts .comments ul li .right-content h4 {
    color: #20232e;
    font-size: 19px;
    font-weight: 900;
    letter-spacing: 0.5px;
}

.blog-posts .comments ul li .right-content h4 span {
    font-size: 14px;
    color: #aaa;
    font-weight: 400;
    letter-spacing: 0.25px;
    margin-left: 20px;
}

.blog-posts .submit-comment {
    margin-top: 60px;
}

.blog-posts .submit-comment input {
    width: 100%;
    height: 46px;
    border: 1px solid #eee;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    color: #7a7a7a;
    outline: none;
    padding: 0px 15px;
    margin-bottom: 30px;
}

.blog-posts .submit-comment textarea {
    width: 100%;
    height: 46px;
    border: 1px solid #eee;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    color: #7a7a7a;
    outline: none;
    padding: 10px 15px;
    margin-bottom: 30px;
    height: 180px;
    max-height: 220px;
    max-width: 100%;
    min-width: 160px;
}

.blog-posts .submit-comment input::placeholder,
.blog-posts .submit-comment textarea::placeholder {
    color: #aaa;
}

.blog-posts .submit-comment button {
    display: inline-block;
    background-color: #31f76c;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    padding: 12px 20px;
    text-transform: uppercase;
    transition: all .3s;
    border: none;
    outline: none;
}

.blog-posts .submit-comment button:hover {
    background-color: #40f467;
}

/* Sidebar */

.sidebar {
    margin-left: 30px;
}

.sidebar .sidebar-item {
    margin-top: 50px;
}

.sidebar .search {
    margin-top: 0px;
}

.sidebar .sidebar-heading h2 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.5px;
    color: #20232e;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.sidebar .search input {
    width: 100%;
    height: 50px;
    border: 1px solid #eee;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    color: #7a7a7a;
    outline: none;
    padding: 0px 15px;
}

.sidebar .search input::placeholder {
    color: #aaa;
}

.sidebar .recent-posts ul li {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.sidebar .recent-posts ul li:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: none;
}

.sidebar .recent-posts ul li h5 {
    font-size: 19px;
    font-weight: 900;
    color: #20232e;
    line-height: 30px;
    transition: all 0.3s;
}

.sidebar .recent-posts ul li h5:hover {
    color: #31f76c;
}

.sidebar .recent-posts ul li span {
    display: block;
    font-size: 14px;
    color: #aaa;
    margin-top: 8px;
}

.sidebar .categories ul li {
    margin-bottom: 15px;
}

.sidebar .categories ul li:last-child {
    margin-bottom: 0px;
}

.sidebar .categories ul li a {
    font-size: 15px;
    font-weight: 700;
    color: #20232e;
    transition: all .3s;
}

.sidebar .categories ul li a:hover {
    color: #31f76c;
}

.sidebar .tags ul li {
    margin-right: 6px;
    display: inline-block;
}

.sidebar .tags ul li {
    margin-bottom: 10px;
}

.sidebar .tags ul li a {
    font-size: 15px;
    font-weight: 500;
    color: #aaa;
    display: inline-block;
    border: 1px solid #eee;
    padding: 10px 18px;
    transition: all .3s;
}

.sidebar .tags ul li a:hover {
    background-color: #31f76c;
    border-color: #31f76c;
    color: #fff;
}


/* Footer */

footer {
    margin-top: 100px;
    text-align: center;
    background-color: #20232e;
    padding: 60px 0px;
}

footer ul.social-icons {
    padding-bottom: 60px;
    margin-bottom: 60px;
    border-bottom: 1px solid rgba(250,250,250,0.15);
}

footer ul.social-icons li {
    display: inline-block;
    margin-right: 30px;
}

footer ul.social-icons li:after {
    content: "|";
    color: #fff;
    margin-left: 30px;
}

footer ul.social-icons li:last-child {
    margin-right: 0px;
}

footer ul.social-icons li:last-child::after {
    display: none;
}

footer ul.social-icons li a {
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.25px;
    transition: all .3s;
}

footer ul.social-icons li a:hover {
    color: #31f76c;
}

footer p {
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
}

footer p a {
    color: #31f76c;
}

footer p a:hover {
    color: #31f76c;
}


/* Contact Form */

.contact-us .down-contact,
.contact-us #map {
    margin-top: 80px;
}

.contact-us .sidebar-heading h2 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.5px;
    color: #20232e;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.contact-us .contact-form input {
    width: 100%;
    height: 46px;
    border: 1px solid #eee;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    color: #7a7a7a;
    outline: none;
    padding: 0px 15px;
    margin-bottom: 30px;
}

.contact-us .contact-form textarea {
    width: 100%;
    height: 46px;
    border: 1px solid #eee;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    color: #7a7a7a;
    outline: none;
    padding: 10px 15px;
    margin-bottom: 30px;
    height: 180px;
    max-height: 220px;
    max-width: 100%;
    min-width: 160px;
}

.contact-us .contact-form input::placeholder,
.contact-us .contact-form textarea::placeholder {
    color: #aaa;
}

.contact-us .contact-form button {
    display: inline-block;
    background-color: #31f76c;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    padding: 12px 20px;
    text-transform: uppercase;
    transition: all .3s;
    border: none;
    outline: none;
}

.contact-us .contact-form button:hover {
    background-color: #40f467;
}

.contact-us .contact-information {
    margin-left: 30px;
}

.contact-us .contact-information ul li {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.contact-us .contact-information ul li:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: none;
}

.contact-us .contact-information ul li h5 {
    font-size: 19px;
    font-weight: 900;
    color: #20232e;
    line-height: 30px;
}

.contact-us .contact-information ul li span {
    display: block;
    font-size: 14px;
    color: #aaa;
    margin-top: 8px;
}


/* About Us */

.about-us {
    margin-top: 100px;
    text-align: center;
}

.about-us img {
    width: 100%;
    overflow: hidden;
}

.about-us p {
    margin: 40px 0px;
    border-bottom: 1px solid #eee;
    padding-bottom: 40px;
}

.about-us ul li {
    display: inline-block;
    margin: 0px 5px;
}

.about-us ul li a {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    background-color: #212931;
    color: #fff;
    border-radius: 50%;
    transition: all .3s;
}

.about-us ul li a:hover {
    background-color: #31f76c;
}


/* Responsive Style */
@media (max-width: 1250px) {
    .owl-banner .owl-nav .owl-prev {
        left: 0px;
    }
    .owl-banner .owl-nav .owl-next {
        right: 0px;
    }
    .owl-banner .owl-nav button span {
        width: 35px;
    }
    .owl-banner .item .item-content .meta-category span {
        font-size: 16px;
    }
    .owl-banner .item .item-content h4 {
        font-size: 20px;
    }
}
@media (max-width: 768px) {
    .owl-banner .owl-nav {
        display: none;
    }
}

@media (max-width: 992px) {
    .navbar .navbar-brand {
        position: absolute;
        left: 30px;
        top: 25px;
    }
    .background-header .navbar-brand,
    .background-header .navbar-toggler {
        top: 15px;
    }
    .navbar .navbar-brand {
        width: auto;
    }
    .navbar:after {
        display: none;
    }
    #navbarResponsive {
        z-index: 99999;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        text-align: center;
        background-color: #fff;
        box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    }
    .navbar .navbar-nav .nav-item {
        border-bottom: 1px solid #eee;
    }
    .navbar .navbar-nav .nav-item:last-child {
        border-bottom: none;
    }
    .navbar .navbar-nav a.nav-link {
        padding: 15px 0px;
        color: #1e1e1e!important;
    }
    .navbar .navbar-nav .nav-link:hover,
    .navbar .navbar-nav .active>.nav-link,
    .navbar .navbar-nav .nav-link.active,
    .navbar .navbar-nav .nav-link.show,
    .navbar .navbar-nav .show>.nav-link {
        color: #31f76c!important;
        border-bottom: none!important;
        padding-bottom: 15px;
    }
    .owl-banner .item .item-content .meta-category span {
        font-size: 18px;
    }
    .owl-banner .item .item-content {
        text-align: center;
        width: 80%;
        left: 50%;
        top: 50%;
        bottom: auto;
        transform: translate(-50%,-50%);
    }
    .owl-banner .item .item-content h4 {
        font-size: 24px;
    }
    .call-to-action {
        text-align: center;
    }
    .call-to-action .main-content .main-button {
        text-align: center;
        margin-top: 30px;
    }
    .sidebar {
        margin-left: 0px;
        margin-top: 60px;
        padding-top: 60px;
        border-top: 3px solid #f7f7f7;
    }
    .contact-us .contact-information {
        margin-left: 0px;
        margin-top: 60px;
  }
}
/* end style.css  */